body {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    font-family: Arial, sans-serif;
}

.login-card {
    width: 380px;
    border-radius: 15px;
}

#mensagem {
    font-size: 14px;
}

